<template>
  <div class="dropdown__wrapper">
    <div @click="toggleDropdown" ref="dropdownButton">
      <slot name="dropdown-btn" />
    </div>
    <DropdownContainer v-if="isOn" ref="dropdownContainer">
      <slot name="dropdown-container" />
    </DropdownContainer>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'

import DropdownContainer from './DropdownContainer.vue'

const isOn = ref(false)
const toggleDropdown = () => {
  isOn.value = !isOn.value
}
</script>

<style lang="scss" scoped>
.dropdown {
  &__wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 999;
  }
}
</style>
`;
