<template>
  <div class="dropdown__container">
    <slot />
  </div>
</template>
<script lang="ts" setup></script>
<style lang="scss" scoped>
.hidden {
  display: none;
}

.dropdown {
  &__container {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 0.5rem;
    transform: translate(-50%, 0);
    width: auto;
  }
}
</style>
`;
