<script setup lang="ts">
import { ref, watchEffect } from 'vue'

import TagComponent from './TagComponent.vue'

const RELATED_TAGS_LIMIT = 10

const props = defineProps<{
  tags: TTag[]
}>()
const isMoreTags = ref(false)
const tagsShowed = ref<TTag[]>()
const handleMoreTagsClick = () => {
  isMoreTags.value = false
  tagsShowed.value = props.tags
}
watchEffect(() => {
  if (props.tags.length > RELATED_TAGS_LIMIT) {
    isMoreTags.value = true
    tagsShowed.value = props.tags.slice(0, RELATED_TAGS_LIMIT)
  } else {
    tagsShowed.value = props.tags
  }
})
</script>
<template>
  <div class="tag">
    <div class="tag-header">{{ $t('tag.related-tags') }}</div>
    <ul class="list-unstyled">
      <li v-for="tag in tagsShowed" :key="tag.id">
        <TagComponent :tag="tag" :isDetailed="false" />
      </li>
    </ul>
    <button
      v-if="isMoreTags"
      type="button"
      class="more-tag"
      @click="handleMoreTagsClick"
    >
      {{ $t('tag.more-related-tags') }}
    </button>
  </div>
</template>
<style scoped lang="scss">
.tag {
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 20px;
  font-size: 11px;
}

.tag-header {
  color: var(--black-700);
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.more-tag {
  border: none;
  background-color: transparent;
  color: var(--theme-blue-600);

  &:hover {
    color: var(--theme-blue-500);
  }
}

li {
  margin-bottom: 6px;
}
</style>
