<script setup lang="ts">
import { getTagUrl } from '@/helpers'

import TagPopover from './TagPopover.vue'
defineProps<{
  tag: TTag
  isDetailed: boolean
}>()
</script>
<template>
  <b-link :to="getTagUrl(tag.name)" class="tag-link" :id="tag.id.toString()">{{
    tag.name
  }}</b-link>
  <TagPopover :tag="tag" :isDetailed="isDetailed" />
</template>
<style lang="scss">
.tag-link {
  display: inline-block;
  padding: 5px 6px;
  margin: 0 2px 2px 0;
  text-decoration: none;
  color: var(--theme-powder-700);
  background-color: var(--theme-powder-100);
  border: 1px;
  border-radius: 3px;
}

.tag-link:hover {
  color: var(--theme-powder-800);
  background-color: var(--theme-powder-200);
}
</style>
