<script setup lang="ts">
import { convertLargeNumber, getTagUrl } from '@/helpers'

const TIME_DELAY = 500

const props = defineProps<{
  tag: TTag
  isDetailed: boolean
}>()
</script>
<template>
  <template v-if="isDetailed">
    <b-popover
      :target="tag.id.toString()"
      triggers="hover"
      custom-class="popover-custom"
      :delay="{ show: TIME_DELAY, hide: 0 }"
    >
      <div class="popover-heading">
        <span>{{
          props.tag.viewCount > 1
            ? $t('tag.watchers', [convertLargeNumber(tag.viewCount)])
            : $t('tag.watcher', [tag.viewCount])
        }}</span>
        <span>{{
          props.tag.questionCount > 1
            ? $t('tag.questions', [convertLargeNumber(tag.questionCount)])
            : $t('tag.question', [tag.questionCount])
        }}</span>
      </div>
      <div class="popover-desciption">
        {{ tag.description }}
        <router-link :to="getTagUrl(tag.name)">{{
          $t('tag.view-tag')
        }}</router-link>
      </div>
    </b-popover>
  </template>
  <template v-else>
    <b-tooltip
      :target="tag.id.toString()"
      triggers="hover"
      custom-class="tooltip-custom"
      :delay="0"
      >{{ $t('tag.show-question-tag', [tag.name]) }}</b-tooltip
    >
    <span class="question-count"> x {{ tag.questionCount }}</span>
  </template>
</template>
<style scoped lang="scss">
.popover-heading {
  margin-bottom: 12px;

  :first-child {
    margin-right: 8px;
    color: var(--theme-orange-800);
    font-weight: 600;
  }
}

.popover-desciption {
  color: var(--black-500);
}

.question-count {
  color: var(--black-500);
}
</style>
<style lang="scss">
.popover-custom {
  --bs-popover-arrow-width: 24px;
  --bs-popover-arrow-height: 12px;
  --bs-popover-max-width: 380px;

  .popover-body {
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px var(--black-100), 0 2px 6px var(--black-100),
      0 3px 8px var(--black-150);
  }
}

.tooltip-custom > .tooltip-arrow::before {
  border-color: transparent;
}
</style>
