<!-- eslint-disable vue/multi-word-component-names -->
<script lang="ts" setup>
import { ref } from 'vue'
import { provide } from 'vue'

const props = defineProps<{
  tabs: { key: string; title: string }[]
  selectedKey?: string
}>()

const emits = defineEmits<{
  (e: 'onSelect', key: string): void
}>()

const activeKey = ref(props.selectedKey || props.tabs[0].key) // allow parent to control which tab is activated

provide('tabKey', activeKey)

function onTabSelected(key: string) {
  activeKey.value = key
  emits('onSelect', key)
}
</script>

<template>
  <div>
    <ul class="d-flex gap-1 align-items-center list-unstyled ms-0">
      <li
        v-for="tab in tabs"
        :key="tab.key"
        class="tab"
        :class="{ 'tab-active': activeKey === tab.key }"
        :href="tab.key"
        @click="onTabSelected(tab.key)"
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
.tab-active {
  background-color: var(--them-primary-color);
  color: white !important;

  &:hover {
    background-color: var(--them-primary-hovered) !important;
  }
}
.tab {
  border-radius: 30px;
  padding: 6px 12px;
  line-height: 13px;
  font-size: 13px;
  color: var(--black-600);
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;

  &:hover {
    background-color: var(--black-050);
  }
}
</style>
