<script lang="ts" setup>
import { inject } from 'vue'

defineProps<{
  tabKey: string
}>()

const activeTabKey = inject('tabKey')
</script>

<template>
  <div class="mt-3 hidden" :class="{ 'd-block': activeTabKey == tabKey }">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.hidden {
  display: none;
}
</style>
