<!-- Inherit bootstrap button but add icon to it -->
<script lang="ts">
export default {
  inheritAttrs: true
}
</script>

<template>
  <b-button type="button" class="btn">
    <div class="d-flex gap-1 align-items-center">
      <slot name="icon" />
      <slot />
    </div>
  </b-button>
</template>

<style lang="scss" scoped></style>
