<template>
  <button class="icon-btn">
    <slot />
  </button>
</template>
<style lang="scss" scoped>
.icon-btn {
  border: none;
  background: transparent;
  padding: 0.5rem;

  svg {
    color: var(--color-text) !important;
  }
}
</style>
