<template>
  <div ref="editorRef"></div>
  <div ref="renderRef" style="display: none"></div>
</template>

<script setup lang="ts">
import { EditorType, StacksEditor } from '@stackoverflow/stacks-editor'
import { onMounted, onUnmounted, ref } from 'vue'

const editorRef = ref<HTMLElement>()
const renderRef = ref<HTMLElement>()

const emit = defineEmits(['on-change'])

let value = ''
let interval = 0

onMounted(() => {
  if (editorRef.value) {
    const editor = new StacksEditor(editorRef.value, '', {
      richTextOptions: {
        imageUpload: {
          handler: async (file) => {
            // Url image upload
            return URL.createObjectURL(file as File)
          }
        }
      },
      commonmarkOptions: {
        preview: {
          enabled: true,
          renderer: async (content, element) => {
            if (renderRef.value) {
              const editorRender = new StacksEditor(renderRef.value, content, {
                defaultView: EditorType.RichText
              })
              editorRender.disable()

              element.appendChild(editor.dom.cloneNode(true))
            }
          }
        }
      }
    })

    interval = setInterval(() => {
      if (value !== editor.content) {
        value = editor.content
        emit('on-change', value)
      }
    }, 500)
  }
})

onUnmounted(() => {
  clearInterval(interval)
})
</script>
