<script lang="ts" setup>
import { getProfileBadges } from '@/features/profile/apis'
import {
  CommunityProfile,
  ProfileIntroduction,
  ProfileStats,
  ProfileTab,
  QuestionBadge,
  UserInformation
} from '@/features/profile/components'

const tabs = [
  { key: '0', title: 'Profile' },
  { key: '1', title: 'Activity' },
  { key: '2', title: 'Saves' },
  { key: '3', title: 'Settings' }
]

const communityProfile = [
  {
    communityName: 'Stack Overflow',
    reputationScore: 3
  }
]

const stats = {
  reputation: 4,
  reached: 40,
  answer: 1,
  question: 1
}

const badges = getProfileBadges()
</script>

<template>
  <div class="mb-3">
    <UserInformation></UserInformation>
  </div>

  <ProfileTab.Tab :tabs="tabs">
    <ProfileTab.TabPane tab-key="0">
      <div class="d-flex flex-column flex-lg-row gap-4 pb-4">
        <div class="flex-left d-flex flex-column gap-4">
          <ProfileStats :data="stats" />
          <CommunityProfile
            class="d-lg-block d-none"
            :data="communityProfile"
          />
        </div>

        <div class="flex-fill d-flex flex-column gap-4">
          <ProfileIntroduction
            description="Im a weeboo, I love unicorn 🦄 also rainbows 🌈🌈"
          />
          <QuestionBadge :data="badges" />
          <CommunityProfile
            class="d-block d-lg-none"
            :data="communityProfile"
          />
        </div>
      </div>
    </ProfileTab.TabPane>
    <ProfileTab.TabPane tab-key="1"> this is Activity page </ProfileTab.TabPane>
    <ProfileTab.TabPane tab-key="2"> this is Saves page </ProfileTab.TabPane>
    <ProfileTab.TabPane tab-key="3"> this is Settings page </ProfileTab.TabPane>
  </ProfileTab.Tab>
</template>

<style lang="scss" scoped>
@media (min-width: 992px) {
  .flex-left {
    flex-basis: calc(25%);
    flex-shrink: 0;
    flex-grow: 0;
  }
}
</style>
