<script lang="ts" setup>
import ProfileSection from './ProfileSection.vue'

defineProps<{
  data: {
    communityName: string
    reputationScore: number
  }[]
}>()
</script>
<template>
  <ProfileSection :title="$t('profile.Communities')">
    <template #action>
      <div>
        <p class="section-action mb-0 text-13">{{ $t('profile.Edit') }}</p>
      </div>
    </template>
    <div class="container-fluid px-0">
      <div class="border d-flex flex-wrap container-fluid p-3 rounded">
        <!-- Community card -->
        <div
          class="d-flex align-items-center w-150"
          v-for="community in data"
          :key="community.communityName"
        >
          <div class="d-flex align-items-center w-100 gap-1">
            <i class="bi bi-stack-overflow text-13"></i>
            <p class="mb-0 text-nowrap community-link">
              {{ community.communityName }}
            </p>
          </div>
          <p class="mb-0 text-11">{{ community.reputationScore }}</p>
        </div>
      </div>
    </div>
  </ProfileSection>
</template>

<style lang="scss" scoped>
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
.section-action {
  color: var(--black-500);
}
.section-title {
  color: var(--black-800);
  font-size: 20px;
}
.text-13 {
  font-size: 13px;
}
.text-11 {
  font-size: 11px;
}
.community-link {
  color: var(--theme-blue-600);
  font-size: 11px;
  cursor: pointer;

  &:hover {
    color: var(--theme-blue-500);
  }
}
.w-150 {
  min-width: 150px;
  width: 100%;
  max-width: 200px;
}
</style>
