<script lang="ts" setup>
defineProps<{
  title: string
}>()
</script>

<script lang="ts">
export default {
  inheritAttrs: true
}
</script>

<template>
  <div class="container-fluid px-0">
    <div class="d-flex justify-content-between align-items-center w-100">
      <p class="section-title mb-2">{{ title }}</p>
      <slot name="action" />
    </div>
    <slot />
  </div>
</template>

<style lang="scss" scoped>
.section-title {
  color: var(--black-800);
  font-size: 20px;
}
</style>
