<script lang="ts" setup>
import ProfileSection from './ProfileSection.vue'

defineProps<{
  description: string
}>()
</script>

<template>
  <div>
    <ProfileSection title="About">
      <div>{{ description }}</div>
      <div class="text-center mt-4 readmore">
        <b-button>readmore</b-button>
      </div>
    </ProfileSection>
  </div>
</template>

<style lang="scss" scoped>
@media (min-width: 992px) {
  .readmore {
    visibility: hidden;
  }
}
</style>
