<script lang="ts" setup>
defineProps<{
  data: {
    reputation: number
    reached: number
    answer: number
    question: number
  }
}>()
</script>
<template>
  <div class="container-fluid px-0">
    <p class="section-title mb-2">{{ $t('profile.Stats') }}</p>
    <div class="stats-container border container-fluid py-2 rounded">
      <div class="flex-1 p-8">
        <p class="mb-0 fs-4">{{ data.reputation }}</p>
        <p class="text-13 mb-0">{{ $t('profile.reputation') }}</p>
      </div>
      <div class="flex-1 p-8">
        <p class="mb-0 fs-4">{{ data.reached }}</p>
        <p class="text-13 mb-0">{{ $t('profile.reached') }}</p>
      </div>
      <div class="flex-1 p-8">
        <p class="mb-0 fs-4">{{ data.answer }}</p>
        <p class="text-13 mb-0">{{ $t('profile.answer') }}</p>
      </div>
      <div class="flex-1 p-8">
        <p class="mb-0 fs-4">{{ data.question }}</p>
        <p class="text-13 mb-0">{{ $t('profile.question') }}</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.stats-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.p-8 {
  padding: 8px;
}
.section-title {
  color: var(--black-800);
  font-size: 20px;
}
.text-number {
  color: var(--black-900);
}
.text-13 {
  color: var(--black-500);
  font-size: 12px;
  line-height: 13px;
}
@media (min-width: 992px) {
  .text-13 {
    font-size: 14px;
    line-height: 16x;
  }
  .flex-1 {
    flex-basis: calc(50% - 1.5rem);
  }
}
</style>
