<script lang="ts" setup>
import { computed, ref } from 'vue'

import { IconButton } from '@/components'

const user = ref({
  name: 'Victor hugo',
  createdAt: new Date('06/16/2022'),
  avatar: [
    'https://placehold.co/64x64',
    'https://placehold.co/96x96',
    'https://placehold.co/128x128'
  ], // ==>for demo only
  lastActive: new Date(1685418784776),
  visitCount: 187
})

const memberShip = computed(() => {
  const years = new Date().getFullYear() - user.value.createdAt.getFullYear()
  const months = new Date().getMonth()

  return {
    years,
    months
  }
})

const lastSeen = 'this week' // TODO: format this when there is a time modification lib installed
</script>

<template>
  <div>
    <div class="container-fluid position-relative p-0 text-3">
      <div class="d-sm-flex d-md-block d-lg-flex gap-sm-4 align-items-center">
        <img
          :src="user.avatar[2]"
          class="rounded shadow-sm d-lg-block"
          style="width: 128px; height: 128px; display: none"
          :alt="user.name"
        />
        <img
          :src="user.avatar[1]"
          class="rounded shadow-sm d-sm-block d-lg-none"
          style="width: 96px; height: 96px; display: none"
          :alt="user.name"
        />
        <img
          :src="user.avatar[0]"
          class="rounded shadow-sm d-sm-none"
          style="width: 64px; height: 64px"
          :alt="user.name"
        />
        <div>
          <p class="display-6 fw-semibold mt-sm-0 mt-3">{{ user.name }}</p>

          <div class="d-flex flex-wrap gap-2">
            <div class="d-flex gap-1 align-items-center col-auto">
              <i class="bi bi-person-badge"></i>
              <p class="text-gray mb-0">
                {{
                  `${$t('profile.member-for')} ${memberShip.years} ${$t(
                    'profile.years'
                  )}, ${memberShip.months} ${$t('profile.month')}`
                }}
              </p>
            </div>

            <div class="d-flex gap-1 align-items-center col-auto">
              <i class="bi bi-clock stroke-1"></i>
              <p class="text-gray mb-0">
                {{ `${$t('profile.last-seen')} ${lastSeen}` }}
              </p>
            </div>

            <div class="d-flex gap-1 align-items-center col-auto">
              <i class="bi bi-calendar2-week"></i>
              <p class="text-gray mb-0">
                {{
                  `${$t('profile.member-for')} ${user.visitCount} ${$t(
                    'profile.days'
                  )} , 2 ${$t('profile.consecutive')}`
                }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- profile buttons -->
      <div class="d-flex gap-1 position-absolute top-0 end-0 mr-3">
        <IconButton
          variant="outline-secondary"
          class="rounded-1 p-2 line-height-rs"
        >
          <template #icon> <i class="bi bi-pencil-fill"></i> </template>
          <p class="mb-0 text-3">Edit profile</p>
        </IconButton>
        <IconButton
          variant="outline-secondary"
          class="rounded-1 p-2 line-height-rs"
        >
          <template #icon>
            <i class="bi bi-chat-right-text-fill"></i>
          </template>
          <p class="mb-0 text-3">Network profile</p>
        </IconButton>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.text-gray {
  color: var(--black-500);
}
.stroke-1 {
  stroke-width: 4px;
}
.text-3 {
  font-size: 12px;
}

.line-height-rs {
  line-height: 12px;
}
@media (min-width: 992px) {
  .text-3 {
    font-size: 14px;
  }
  .line-height-rs {
    line-height: 16px;
  }
}
.mr-3 {
  margin-right: 12px;
}
</style>
