<template>
  <div class="d-flex flex-column min-vh-100">
    <AppHeader />
    <BodyLayout class="flex-fill" />
    <FooterLayout />
  </div>
</template>

<script setup lang="ts">
import BodyLayout from '../Body'
import FooterLayout from '../Footer'
import AppHeader from '../Header'
</script>
