<script lang="ts" setup>
import { computed } from 'vue'

import PrizeIconVue from '@/assets/icons/PrizeIcon.vue'

import type { Badge } from '../../types'

const props = defineProps<{
  title: string
  type: string
  visibleCount: number
  badges: Badge[]
}>()

const visibleBadges = computed(() => props.badges.slice(0, props.visibleCount))
</script>

<template>
  <div
    class="border rounded container-fluid pb-2 pt-3 d-flex flex-column gap-2"
  >
    <div class="d-flex align-items-center gap-3">
      <PrizeIconVue :class="type" />
      <div class="flex-fill">
        <p class="fs-3 fw-semibold">{{ badges.length }}</p>
        <p class="lh-base text-13">
          {{ title }}
        </p>
      </div>
    </div>

    <div>
      <div
        class="d-flex justify-content-between align-items-center"
        v-for="(badge, index) in visibleBadges"
        :key="index"
      >
        <p>{{ badge.title }}</p>
        <p class="text-11">
          {{ new Date(badge.archivedAt * 1000).toDateString() }}
        </p>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
p {
  margin-bottom: 0;
}
.text-11 {
  font-size: 11px;
}
.text-13 {
  font-size: 13px;
}
.gold {
  color: rgb(255 204 0) !important;
}
.silver {
  color: var(--silver) !important;
}
.bronze {
  color: var(--bronze) !important;
}
</style>
