<script lang="ts" setup>
import { computed } from 'vue'

import type { Badge } from '../../types'
import ProfileSection from '../ProfileSection.vue'
import BadgeContainer from './BadgeContainer.vue'

const props = defineProps<{
  data: Badge[]
}>()

const badgeGroups = computed(() => {
  const allBadges = props.data

  return allBadges.reduce(
    (groups, badge) => {
      groups[badge.type].push(badge)
      return groups
    },
    { gold: Array<Badge>(), silver: Array<Badge>(), bronze: Array<Badge>() }
  )
})
</script>

<template>
  <ProfileSection title="Badges">
    <div class="d-flex flex-wrap gap-4">
      <div class="flex-item" v-for="(badges, key) in badgeGroups" :key="key">
        <BadgeContainer
          :visible-count="3"
          :type="key"
          :badges="badges"
          :title="key + ' badges'"
        />
      </div>
    </div>
  </ProfileSection>
</template>

<style lang="scss">
.text-sub {
  color: var(--black-700);
  cursor: pointer;
}
.text-13 {
  font-size: 13px;
}
.flex-item {
  flex: 1 1 250px;
}

@media (min-width: 340px) and (max-width: 419px) {
  .flex-item {
    flex: 1 1 0%;
  }
}
@media (min-width: 420px) {
  .flex-item {
    flex: 1 1 30%;
  }
}
</style>
