<template>
  <div class="header-wrapper">
    <p class="title">{{ title }}</p>
    <div class="icon">
      <slot name="icon"></slot>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  title: string
}>()
</script>

<style scoped lang="scss">
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;

  & .title {
    color: var(--black-600);
    margin-bottom: 0;
    font-size: small;
  }

  & .icon {
    color: var(--black-600);
  }
}
</style>
