<template>
  <router-link
    :to="href"
    class="link"
    :class="{
      'link-active': active
    }"
  >
    <div class="content-wrapper">
      <div class="icon" :class="{ 'icon-hidden': hiddenIcon }">
        <slot name="icon"></slot>
      </div>
      <p class="content">{{ content }}</p>
    </div>
  </router-link>
</template>

<script setup lang="ts">
defineProps<{
  href: string
  active?: boolean
  hiddenIcon?: boolean
  content: string
}>()
</script>

<style scoped lang="scss">
.link {
  width: 100%;
  text-decoration: none;
  color: var(--black-600);
  display: inline-block;
  padding: 4px 4px 4px 8px;
  &:hover {
    color: var(--black-900);
  }

  & .content-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    height: 26px;

    & .icon {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
    }

    & .icon-hidden {
      display: none;
    }

    & .content {
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
      font-size: small;
    }
  }
}

.link-active {
  background-color: var(--black-050);
  border-right: 3px solid var(--theme-primary-350);
  color: var(--black-900);
  font-weight: bold;

  & .content-wrapper {
    & .content {
      font-weight: bold;
    }
  }
}
</style>
