<template>
  <nav>
    <ol class="nav-links">
      <li>
        <SideBarLink
          :href="paths.HOME"
          :active="path === paths.HOME"
          content="Home"
          hiddenIcon
        />
      </li>
      <li>
        <HeaderLinkGroup title="PUBLIC" />
        <SideBarLink
          :href="paths.QUESTIONS"
          content="Questions"
          :active="path === paths.QUESTIONS"
        >
          <template #icon>
            <i class="bi bi-globe-americas"></i>
          </template>
        </SideBarLink>
        <SideBarLink
          :href="paths.TAGS"
          :active="path === paths.TAGS"
          content="Tags"
        />
        <SideBarLink
          :href="paths.USERS"
          :active="path === paths.USERS"
          content="Users"
        />
        <SideBarLink
          :href="paths.COMPANIES"
          :active="path === paths.COMPANIES"
          content="Companies"
        />
      </li>
      <li>
        <HeaderLinkGroup title="COLLECTIVE">
          <template #icon>
            <i class="bi bi-info-circle-fill font-size-14"></i>
          </template>
        </HeaderLinkGroup>
        <SideBarLink
          :href="paths.COLLECTIONS"
          :active="path === paths.COLLECTIONS"
          content="Explore Collections"
        >
          <template #icon>
            <Achievement />
          </template>
        </SideBarLink>
      </li>
      <li>
        <HeaderLinkGroup title="TEAMS">
          <template #icon>
            <i class="bi bi-info-circle-fill font-size-14"></i>
          </template>
        </HeaderLinkGroup>
        <SideBarLink
          :href="paths.TEAMS"
          :active="path === paths.TEAMS"
          content="Create free Team"
        >
          <template #icon>
            <i class="bi bi-bag-fill"></i>
          </template>
        </SideBarLink>
      </li>
    </ol>
  </nav>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useRoute } from 'vue-router'

import Achievement from '@/assets/icons/AchievementIcon.vue'
import paths from '@/configs/paths'

import HeaderLinkGroup from './HeaderLinkGroup.vue'
import SideBarLink from './SideBarLink.vue'

const router = useRoute()

const path = computed(() => router.path)
</script>

<style scoped lang="scss">
.nav-links {
  list-style: none;
  padding: 0;
}

.font-size-14 {
  font-size: 14px;
}

ol {
  margin: 0;
  padding: 0;
}
</style>
