/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  /* remove this migration block when all component has completed migration to new color variable */
  /* #region: migration */
  --them-primary-color: rgb(244, 130, 37);
  --them-primary-hovered: rgb(218, 104, 11);

  --black-050: rgba(241, 242, 243, 1);
  --black-100: rgba(214, 217, 220);
  --black-600: rgba(82, 89, 96, 1);
  --black-900: rgba(12, 13, 14, 1);

  --top-bar-allocated-space: 56px;
  --side-bar-width: 164px;
  --toggle-width: 16px;
  --toggle-height: 2px;
  --header-height: 4rem;
  /* #end-region */

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  /* Light mode */
  --theme-primary-025: rgb(255 250 246);
  --theme-primary-050: rgb(253 231 214);
  --theme-primary-075: rgb(251 212 181);
  --theme-primary-100: rgb(249 194 148);
  --theme-primary-150: rgb(248 175 115);
  --theme-primary-200: rgb(246 156 83);
  --theme-primary-300: rgb(244 130 37);
  --theme-primary-350: rgb(233 117 22);
  --theme-primary-400: rgb(214 113 31);
  --theme-primary-500: rgb(196 109 39);
  --theme-primary-600: rgb(177 106 47);
  --theme-primary-700: rgb(162 102 52);
  --theme-primary-800: rgba(146, 98, 58, 1);
  --theme-primary-900: rgba(71, 60, 51, 1);

  --theme-secondary-025: rgb(245 249 253);
  --theme-secondary-050: rgb(235 244 251);
  --theme-secondary-075: rgb(217 234 247);
  --theme-secondary-100: rgb(199 224 244);
  --theme-secondary-150: rgb(166 206 237);
  --theme-secondary-200: rgb(122 183 228);
  --theme-secondary-300: rgb(89 164 222);
  --theme-secondary-350: rgb(51 143 214);
  --theme-secondary-400: rgb(0 116 204);
  --theme-secondary-500: rgb(0 101 179);
  --theme-secondary-600: rgb(0 87 153);
  --theme-secondary-700: rgb(0 69 122);
  --theme-secondary-800: rgb(0 55 97);
  --theme-secondary-900: rgb(0 40 71);

  --theme-red-025: rgb(254 246 246);
  --theme-red-050: rgb(253 242 242);
  --theme-red-100: rgb(249 210 211);
  --theme-red-200: rgb(244 180 182);
  --theme-red-300: rgb(232 125 129);
  --theme-red-400: rgb(222 79 84);
  --theme-red-500: rgb(208 57 62);
  --theme-red-600: rgb(194 46 50);
  --theme-red-700: rgb(171 38 42);
  --theme-red-800: rgb(146 32 36);
  --theme-red-900: rgb(123 24 28);

  --theme-orange-050: rgb(255 247 240);
  --theme-orange-100: rgb(254 227 205);
  --theme-orange-200: rgb(251 208 173);
  --theme-orange-300: rgb(247 172 110);
  --theme-orange-400: rgb(244 130 37);
  --theme-orange-500: rgb(242 116 13);
  --theme-orange-600: rgb(218 104 11);
  --theme-orange-700: rgb(189 90 10);
  --theme-orange-800: rgb(167 81 12);
  --theme-orange-900: rgb(138 70 15);

  --theme-yellow-050: rgb(253 247 226);
  --theme-yellow-100: rgb(251 243 213);
  --theme-yellow-200: rgb(241 229 188);
  --theme-yellow-300: rgb(230 207 121);
  --theme-yellow-400: rgb(233 196 63);
  --theme-yellow-500: rgb(221 180 34);
  --theme-yellow-600: rgb(206 168 28);
  --theme-yellow-700: rgb(183 148 21);
  --theme-yellow-800: rgb(158 127 16);
  --theme-yellow-900: rgb(131 105 11);

  --theme-green-025: rgb(237 248 240);
  --theme-green-050: rgb(219 240 226);
  --theme-green-100: rgb(201 232 212);
  --theme-green-200: rgb(166 217 183);
  --theme-green-300: rgb(130 201 154);
  --theme-green-400: rgb(94 186 125);
  --theme-green-500: rgb(72 168 104);
  --theme-green-600: rgb(61 143 88);
  --theme-green-700: rgb(47 111 68);
  --theme-green-800: rgb(41 96 60);
  --theme-green-900: rgb(31 71 44);

  --theme-blue-050: rgb(240 248 255);
  --theme-blue-100: rgb(205 233 254);
  --theme-blue-200: rgb(174 218 252);
  --theme-blue-300: rgb(107 187 247);
  --theme-blue-400: rgb(55 159 239);
  --theme-blue-500: rgb(10 149 255);
  --theme-blue-600: rgb(0 116 204);
  --theme-blue-700: rgb(0 99 191);
  --theme-blue-800: rgb(0 84 163);
  --theme-blue-900: rgb(0 69 133);

  --theme-powder-050: rgb(244 248 251);
  --theme-powder-100: rgb(225 236 244);
  --theme-powder-200: rgb(208 227 241);
  --theme-powder-300: rgb(179 211 234);
  --theme-powder-400: rgb(160 200 228);
  --theme-powder-500: rgb(122 167 199);
  --theme-powder-600: rgb(92 142 178);
  --theme-powder-700: rgb(57 115 157);
  --theme-powder-800: rgb(44 88 119);
  --theme-powder-900: rgb(30 60 82);

  --black-025: rgb(248 249 249);
  --black-050: rgba(241, 242, 243, 1);
  --black-075: rgb(227 230 232);
  --black-100: rgba(214, 217, 220);
  --black-150: rgb(200 204 208);
  --black-200: hsl(210, 8%, 75%);
  --black-300: hsl(210, 8%, 65%);
  --black-350: hsl(210, 8%, 60%);
  --black-400: rgb(131 140 149);
  --black-500: rgb(106 115 124);
  --black-600: rgba(82, 89, 96, 1);
  --black-700: rgb(59 64 69);
  --black-750: rgb(47 51 55);
  --black-800: hsl(210, 8%, 15%);
  --black-900: rgba(12, 13, 14, 1);

  /* Dark mode */
  --theme-primary-900-dark: rgb(255 250 246);
  --theme-primary-800-dark: rgb(253 231 214);
  --theme-primary-700-dark: rgb(251 212 181);
  --theme-primary-600-dark: rgb(249 194 148);
  --theme-primary-500-dark: rgb(248 175 115);
  --theme-primary-400-dark: rgb(246 156 83);
  --theme-primary-350-dark: rgb(244 130 37);
  --theme-primary-300-dark: rgb(233 117 22);
  --theme-primary-200-dark: rgb(214 113 31);
  --theme-primary-150-dark: rgb(196 109 39);
  --theme-primary-100-dark: rgb(177 106 47);
  --theme-primary-075-dark: rgb(162 102 52);
  --theme-primary-050-dark: rgba(146, 98, 58, 1);
  --theme-primary-025-dark: rgba(71, 60, 51, 1);

  --theme-secondary-900-dark: rgb(245 249 253);
  --theme-secondary-800-dark: rgb(235 244 251);
  --theme-secondary-700-dark: rgb(217 234 247);
  --theme-secondary-600-dark: rgb(199 224 244);
  --theme-secondary-500-dark: rgb(166 206 237);
  --theme-secondary-400-dark: rgb(122 183 228);
  --theme-secondary-350-dark: rgb(89 164 222);
  --theme-secondary-300-dark: rgb(51 143 214);
  --theme-secondary-200-dark: rgb(0 116 204);
  --theme-secondary-150-dark: rgb(0 101 179);
  --theme-secondary-100-dark: rgb(0 87 153);
  --theme-secondary-075-dark: rgb(0 69 122);
  --theme-secondary-050-dark: rgb(0 55 97);
  --theme-secondary-025-dark: rgb(0 40 71);

  --theme-red-900-dark: rgb(254 246 246);
  --theme-red-800-dark: rgb(253 242 242);
  --theme-red-700-dark: rgb(249 210 211);
  --theme-red-600-dark: rgb(244 180 182);
  --theme-red-500-dark: rgb(232 125 129);
  --theme-red-400-dark: rgb(222 79 84);
  --theme-red-300-dark: rgb(208 57 62);
  --theme-red-200-dark: rgb(194 46 50);
  --theme-red-100-dark: rgb(171 38 42);
  --theme-red-050-dark: rgb(146 32 36);
  --theme-red-025-dark: rgb(123 24 28);

  --theme-orange-900-dark: rgb(255 247 240);
  --theme-orange-800-dark: rgb(254 227 205);
  --theme-orange-700-dark: rgb(251 208 173);
  --theme-orange-600-dark: rgb(247 172 110);
  --theme-orange-500-dark: rgb(244 130 37);
  --theme-orange-400-dark: rgb(242 116 13);
  --theme-orange-300-dark: rgb(218 104 11);
  --theme-orange-200-dark: rgb(189 90 10);
  --theme-orange-100-dark: rgb(167 81 12);
  --theme-orange-050-dark: rgb(138 70 15);

  --theme-yellow-900-dark: rgb(253 247 226);
  --theme-yellow-800-dark: rgb(251 243 213);
  --theme-yellow-700-dark: rgb(241 229 188);
  --theme-yellow-600-dark: rgb(230 207 121);
  --theme-yellow-500-dark: rgb(233 196 63);
  --theme-yellow-400-dark: rgb(221 180 34);
  --theme-yellow-300-dark: rgb(206 168 28);
  --theme-yellow-200-dark: rgb(183 148 21);
  --theme-yellow-100-dark: rgb(158 127 16);
  --theme-yellow-050-dark: rgb(131 105 11);

  --theme-green-900-dark: rgb(237 248 240);
  --theme-green-800-dark: rgb(219 240 226);
  --theme-green-700-dark: rgb(201 232 212);
  --theme-green-600-dark: rgb(166 217 183);
  --theme-green-500-dark: rgb(130 201 154);
  --theme-green-400-dark: rgb(94 186 125);
  --theme-green-300-dark: rgb(72 168 104);
  --theme-green-200-dark: rgb(61 143 88);
  --theme-green-100-dark: rgb(47 111 68);
  --theme-green-050-dark: rgb(41 96 60);
  --theme-green-025-dark: rgb(31 71 44);

  --theme-blue-900-dark: rgb(240 248 255);
  --theme-blue-800-dark: rgb(205 233 254);
  --theme-blue-700-dark: rgb(174 218 252);
  --theme-blue-600-dark: rgb(107 187 247);
  --theme-blue-500-dark: rgb(55 159 239);
  --theme-blue-400-dark: rgb(10 149 255);
  --theme-blue-400-dark: rgb(0 116 204);
  --theme-blue-300-dark: rgb(0 99 191);
  --theme-blue-200-dark: rgb(0 84 163);
  --theme-blue-050-dark: rgb(0 69 133);

  --theme-powder-900-dark: rgb(244 248 251);
  --theme-powder-800-dark: rgb(225 236 244);
  --theme-powder-700-dark: rgb(208 227 241);
  --theme-powder-600-dark: rgb(179 211 234);
  --theme-powder-500-dark: rgb(160 200 228);
  --theme-powder-400-dark: rgb(122 167 199);
  --theme-powder-300-dark: rgb(92 142 178);
  --theme-powder-200-dark: rgb(57 115 157);
  --theme-powder-200-dark: rgb(44 88 119);
  --theme-powder-050-dark: rgb(30 60 82);

  --black-900-dark: rgb(248 249 249);
  --black-800-dark: rgba(241, 242, 243, 1);
  --black-750-dark: rgb(227 230 232);
  --black-700-dark: rgba(214, 217, 220);
  --black-600-dark: rgb(200 204 208);
  --black-500-dark: hsl(210, 8%, 75%);
  --black-400-dark: hsl(210, 8%, 65%);
  --black-350-dark: hsl(210, 8%, 60%);
  --black-300-dark: rgb(131 140 149);
  --black-200-dark: rgb(106 115 124);
  --black-150-dark: rgba(82, 89, 96, 1);
  --black-100-dark: rgb(59 64 69);
  --black-075-dark: rgb(47 51 55);
  --black-050-dark: hsl(210, 8%, 15%);
  --black-025-dark: rgba(12, 13, 14, 1);

  --gold: rgb(255 204 0);
  --silver: rgb(179 184 188);
  --bronze: rgb(203 169 139);
}

/* size variables for this project */
:root {
  --top-bar-allocated-space: 56px;
  --side-bar-width: 164px;
  --toggle-width: 16px;
  --toggle-height: 2px;
  --header-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --theme-primary-025: var(--theme-primary-025-dark);
    --theme-primary-050: var(--theme-primary-050-dark);
    --theme-primary-075: var(--theme-primary-075-dark);
    --theme-primary-100: var(--theme-primary-100-dark);
    --theme-primary-150: var(--theme-primary-150-dark);
    --theme-primary-200: var(--theme-primary-200-dark);
    --theme-primary-300: var(--theme-primary-300-dark);
    --theme-primary-350: var(--theme-primary-350-dark);
    --theme-primary-400: var(--theme-primary-400-dark);
    --theme-primary-500: var(--theme-primary-500-dark);
    --theme-primary-600: var(--theme-primary-600-dark);
    --theme-primary-700: var(--theme-primary-700-dark);
    --theme-primary-800: var(--theme-primary-800-dark);
    --theme-primary-900: var(--theme-primary-900-dark);

    --theme-secondary-025: var(--theme-secondary-025-dark);
    --theme-secondary-050: var(--theme-secondary-050-dark);
    --theme-secondary-075: var(--theme-secondary-075-dark);
    --theme-secondary-100: var(--theme-secondary-100-dark);
    --theme-secondary-150: var(--theme-secondary-150-dark);
    --theme-secondary-200: var(--theme-secondary-200-dark);
    --theme-secondary-300: var(--theme-secondary-300-dark);
    --theme-secondary-350: var(--theme-secondary-350-dark);
    --theme-secondary-400: var(--theme-secondary-400-dark);
    --theme-secondary-500: var(--theme-secondary-500-dark);
    --theme-secondary-600: var(--theme-secondary-600-dark);
    --theme-secondary-700: var(--theme-secondary-700-dark);
    --theme-secondary-800: var(--theme-secondary-800-dark);
    --theme-secondary-900: var(--theme-secondary-900-dark);

    --theme-red-025: var(--theme-red-025-dark);
    --theme-red-050: var(--theme-red-050-dark);
    --theme-red-100: var(--theme-red-100-dark);
    --theme-red-200: var(--theme-red-200-dark);
    --theme-red-300: var(--theme-red-300-dark);
    --theme-red-400: var(--theme-red-400-dark);
    --theme-red-500: var(--theme-red-500-dark);
    --theme-red-600: var(--theme-red-600-dark);
    --theme-red-700: var(--theme-red-700-dark);
    --theme-red-800: var(--theme-red-800-dark);
    --theme-red-900: var(--theme-red-900-dark);

    --theme-orange-050: var(--theme-orange-050-dark);
    --theme-orange-100: var(--theme-orange-100-dark);
    --theme-orange-200: var(--theme-orange-200-dark);
    --theme-orange-300: var(--theme-orange-300-dark);
    --theme-orange-400: var(--theme-orange-400-dark);
    --theme-orange-500: var(--theme-orange-500-dark);
    --theme-orange-600: var(--theme-orange-600-dark);
    --theme-orange-700: var(--theme-orange-700-dark);
    --theme-orange-800: var(--theme-orange-800-dark);
    --theme-orange-900: var(--theme-orange-900-dark);

    --theme-yellow-050: var(--theme-yellow-050-dark);
    --theme-yellow-100: var(--theme-yellow-100-dark);
    --theme-yellow-200: var(--theme-yellow-200-dark);
    --theme-yellow-300: var(--theme-yellow-300-dark);
    --theme-yellow-400: var(--theme-yellow-400-dark);
    --theme-yellow-500: var(--theme-yellow-500-dark);
    --theme-yellow-600: var(--theme-yellow-600-dark);
    --theme-yellow-700: var(--theme-yellow-700-dark);
    --theme-yellow-800: var(--theme-yellow-800-dark);
    --theme-yellow-900: var(--theme-yellow-900-dark);

    --theme-green-025: var(--theme-green-025-dark);
    --theme-green-050: var(--theme-green-050-dark);
    --theme-green-100: var(--theme-green-100-dark);
    --theme-green-200: var(--theme-green-200-dark);
    --theme-green-300: var(--theme-green-300-dark);
    --theme-green-400: var(--theme-green-400-dark);
    --theme-green-500: var(--theme-green-500-dark);
    --theme-green-600: var(--theme-green-600-dark);
    --theme-green-700: var(--theme-green-700-dark);
    --theme-green-800: var(--theme-green-800-dark);
    --theme-green-900: var(--theme-green-900-dark);

    --theme-blue-050: var(--theme-blue-050-dark);
    --theme-blue-100: var(--theme-blue-100-dark);
    --theme-blue-200: var(--theme-blue-200-dark);
    --theme-blue-300: var(--theme-blue-300-dark);
    --theme-blue-400: var(--theme-blue-400-dark);
    --theme-blue-500: var(--theme-blue-500-dark);
    --theme-blue-600: var(--theme-blue-600-dark);
    --theme-blue-700: var(--theme-blue-700-dark);
    --theme-blue-800: var(--theme-blue-800-dark);
    --theme-blue-900: var(--theme-blue-900-dark);

    --theme-powder-050: var(--theme-powder-050-dark);
    --theme-powder-100: var(--theme-powder-100-dark);
    --theme-powder-200: var(--theme-powder-200-dark);
    --theme-powder-300: var(--theme-powder-300-dark);
    --theme-powder-400: var(--theme-powder-400-dark);
    --theme-powder-500: var(--theme-powder-500-dark);
    --theme-powder-600: var(--theme-powder-600-dark);
    --theme-powder-700: var(--theme-powder-700-dark);
    --theme-powder-800: var(--theme-powder-800-dark);
    --theme-powder-900: var(--theme-powder-900-dark);

    --black-025: var(--black-025-dark);
    --black-050: var(--black-050-dark);
    --black-075: var(--black-075-dark);
    --black-100: var(--black-100-dark);
    --black-150: var(--black-150-dark);
    --black-200: var(--black-200-dark);
    --black-300: var(--black-300-dark);
    --black-350: var(--black-350-dark);
    --black-400: var(--black-400-dark);
    --black-500: var(--black-500-dark);
    --black-600: var(--black-600-dark);
    --black-700: var(--black-700-dark);
    --black-800: var(--black-800-dark);
    --black-900: var(--black-900-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
