<template>
  <div class="container-lg container-wrapper">
    <div
      class="sidebar-wrapper"
      :class="{ 'sidebar-wrapper-mobile': isMobile }"
    >
      <SideBar class="sidebar" />
    </div>
    <div class="content" :class="{ 'content-mobile': isMobile }">
      <RouterView />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'

import SideBar from '@/components/SideBar/SideBar.vue'
import { useLayoutStore } from '@/stores/layout.store'

const layoutStore = useLayoutStore()

const isMobile = computed(() => layoutStore.isMobile)
</script>

<style scoped lang="scss">
.container-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.sidebar-wrapper {
  width: var(--side-bar-width);
  z-index: 10000;

  & .sidebar {
    padding-top: 24px;
    position: sticky;
    top: var(--top-bar-allocated-space);
    overflow-y: auto;
    max-height: calc(100vh - var(--top-bar-allocated-space));
  }
}

.sidebar-wrapper-mobile {
  display: none;
}

.content {
  border-left: 1px solid var(--black-100);
  width: calc(100% - var(--side-bar-width));
  padding: 24px;
}

.content-mobile {
  border: none;
  width: 100%;
  padding: 0;
  padding-top: 12px;
}
</style>
