<template>
  <div class="header-wrapper">
    <div class="header">
      <div class="left-side">
        <SideBarToggle :open="sideBarOpen" :toggle="handleToggle" />
        <SideBarWrapper :open="sideBarOpen" />
        <HeaderLogo />
        <DropdownWrapper>
          <template #dropdown-btn>
            <IconButton>Products</IconButton>
          </template>
          <template #dropdown-container>
            <StickyWrapper> sticky wrapper </StickyWrapper>
          </template>
        </DropdownWrapper>
      </div>
      <div class="right-side">
        <DropdownWrapper>
          <template #dropdown-btn>
            <IconButton>
              <SearchIcon />
            </IconButton>
          </template>
          <template #dropdown-container> dropdown container </template>
        </DropdownWrapper>
        <IconButton>
          <img
            class="user-avt"
            src="./../../assets/nexon-logo.png"
            alt="Avatar"
          />
        </IconButton>
        <DropdownWrapper>
          <template #dropdown-btn>
            <IconButton>
              <InboxIcon />
            </IconButton>
          </template>
          <template #dropdown-container> dropdown container </template>
        </DropdownWrapper>
        <DropdownWrapper>
          <template #dropdown-btn>
            <IconButton>
              <CupIcon />
            </IconButton>
          </template>
          <template #dropdown-container> dropdown container </template>
        </DropdownWrapper>
        <DropdownWrapper>
          <template #dropdown-btn>
            <IconButton>
              <HelpIcon />
            </IconButton>
          </template>
          <template #dropdown-container> dropdown container </template>
        </DropdownWrapper>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'

import CupIcon from '@/assets/icons/CupIcon.vue'
import HelpIcon from '@/assets/icons/HelpIcon.vue'
import InboxIcon from '@/assets/icons/InboxIcon.vue'
import SearchIcon from '@/assets/icons/SearchIcon.vue'
import IconButton from '@/components/Button/SecIconButton.vue'
import DropdownWrapper from '@/components/Dropdown/DropdownWrapper.vue'
import StickyWrapper from '@/components/Sticky/StickyWrapper.vue'

import HeaderLogo from './HeaderLogo.vue'
import SideBarToggle from './SideBarToggle.vue'
import SideBarWrapper from './SideBarWrapper.vue'
const handleToggle = () => {
  sideBarOpen.value = !sideBarOpen.value
}
const sideBarOpen = ref(false)
</script>

<style lang="scss" scoped>
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--black-100);

  &::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--them-primary-color);
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--header-padding) 1rem;
  height: auto;
  max-width: 1200px;
  color: var(--color-text);

  .left-side,
  .right-side {
    display: flex;
    align-items: center;
  }

  #prod-btn {
    &:hover {
      background-color: var(--black-100);
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .user-avt {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 1px solid var(--black-100);
  }
}
</style>
