<template>
  <div class="logo">
    <a to="/">
      <img
        src="./../../assets/nexon-logo.png"
        alt="Nexon Logo"
        class="logo__png"
      />
      <span class="logo__name">next<b>overflow</b></span>
    </a>
  </div>
</template>
<script setup lang="ts"></script>
<style lang="scss" scoped>
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);

  &__name {
    font-size: 1rem;
    color: var(--color-heading);
    display: none;
  }

  img {
    width: 2rem;
    height: 2rem;
  }
}
</style>
