<template>
  <div class="header">
    <AppHeader />
  </div>
</template>
<script setup lang="ts">
import AppHeader from './AppHeader.vue'
</script>
<style lang="scss" scoped>
.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
}
</style>
