<template>
  <div class="sidebar-toggle__wrapper" @click="toggle">
    <a :class="['sidebar-toggle__item', { isOpen: open }]" />
  </div>
</template>

<script setup lang="ts">
defineProps<{
  open: boolean
  toggle: () => void
}>()
</script>
<style lang="scss" scoped>
.sidebar-toggle {
  &__wrapper {
    width: auto;
    cursor: pointer;
    padding: 1rem;
  }

  &__item {
    width: var(--toggle-width);
    height: var(--toggle-height);
    background-color: var(--black-600);
    display: block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: var(--toggle-height);
      background-color: var(--black-600);
      left: 0;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      top: 0.4rem;
    }

    &::after {
      bottom: 0.4rem;
    }
  }
}

.isOpen {
  background-color: transparent;

  &::before {
    transform: rotate(45deg);
    top: 0;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
}
</style>
