<template>
  <div :class="['sidebar', { isOpen: open }]">
    <SideBar />
  </div>
</template>
<script setup lang="ts">
defineProps<{
  open: boolean
}>()
import SideBar from '@/components/SideBar/SideBar.vue'
</script>
<style lang="scss" scoped>
.sidebar {
  width: auto;
  max-width: 300px;
  height: auto;
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 1000;
  transform: translateX(-110%);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px var(--black-100);
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;

  &.isOpen {
    transform: translateX(0);
  }
}
</style>
