<template>
  <MainLayout />
</template>

<script setup lang="ts">
import { useBreakpoints } from '@vueuse/core'
import { watch } from 'vue'

import MainLayout from './layouts/Main'
import { useLayoutStore } from './stores/layout.store'

const layoutStore = useLayoutStore()
const breakpoints = useBreakpoints({
  mobile: 640 // style 부분과 사이즈 부분에서 완전히 싱크가 안맞아서 1px추가 함
})

const isMobile = breakpoints.smaller('mobile')
watch(
  isMobile,
  (value) => {
    layoutStore.toggleIsMobile(value)
  },
  { immediate: true }
)
</script>