<script setup lang="ts">
import { NAV_LINK } from './data'
</script>
<template>
  <nav>
    <div v-for="col in NAV_LINK" :key="col.id" class="nav-footer">
      <router-link :to="col.title.url" class="title">
        {{ $t('footer.' + col.title.label) }}
      </router-link>
      <ul class="list-unstyled">
        <li v-for="item in col.details" :key="item.id">
          <router-link :to="item.url" class="list-item">
            {{ $t('footer.' + item.label) }}
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<style scoped lang="scss">
nav {
  display: flex;
  flex: 2 1 auto;
  flex-wrap: wrap;
}

.nav-footer {
  flex: 1 0 auto;
  padding: 0 12px 24px 0;
}

.title {
  margin-bottom: 12px;
  color: var(--black-200);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 816px) {
  .title {
    margin-bottom: 8px !important;
  }

  .list-item {
    padding: 0 !important;
    white-space: nowrap !important;
  }

  nav {
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    margin: 0;
  }
}
</style>
