<script setup lang="ts">
import { LICENSING, SOCIAL_LINK } from './data'
</script>
<template>
  <div class="copyright-footer">
    <ul class="list-unstyled d-flex">
      <li v-for="item in SOCIAL_LINK" :key="item.id">
        <a :href="item.url" class="list-item">{{
          $t('footer.' + item.label)
        }}</a>
      </li>
    </ul>
    <p>
      {{ $t('footer.license-1') }}
      <a :href="LICENSING" class="text-reset">
        {{ $t('footer.license') }}
      </a>
      {{ $t('footer.license-2') }}
    </p>
  </div>
</template>
<style scoped lang="scss">
.copyright-footer {
  display: flex;
  flex-direction: column;
  flex: 1 1 150px;
}

li + li {
  margin-left: 12px;
}

p {
  margin-top: auto;
  margin-bottom: 24px;
}
</style>
