<script setup lang="ts">
import LogoComponent from '@/assets/icons/LogoIcon.vue'

import { LOGO_LINK } from './data'
import FooterNav from './FooterNav.vue'
import FooterSocial from './FooterSocial.vue'
</script>

<template>
  <footer>
    <div class="container-footer">
      <router-link :to="LOGO_LINK" class="logo-footer">
        <LogoComponent />
      </router-link>
      <FooterNav />
      <FooterSocial />
    </div>
  </footer>
</template>

<style scoped lang="scss">
footer {
  background-color: var(--black-800);
  color: var(--black-350);
  font-size: 13px;
}

.container-footer {
  max-width: 1264px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 32px 12px 12px 12px;
}

.logo-footer {
  margin-top: -12px;
  margin-bottom: 32px;
  flex-basis: 64px;
}

@media (max-width: 640px) {
  .logo-footer {
    display: none;
  }

  .container-footer {
    padding: 16px !important;
  }

  footer {
    font-size: 11px !important;
  }
}
</style>

<style lang="scss">
footer .list-item {
  display: inline-block;
  padding: 4px 0;
  text-decoration: none;
  white-space: pre-line;
  color: inherit;
}

footer .list-item:hover {
  color: var(--black-300);
}
</style>
