<template>
  <div class="sticky-wrapper">
    <slot />
  </div>
</template>
<script lang="ts" setup></script>
<style lang="scss" scoped>
$sticky-bg-color: white;

.hidden {
  display: none;
}

.sticky-wrapper {
  position: relative;
  background-color: $sticky-bg-color;
  min-width: 12rem;
  max-width: 24rem;
  white-space: normal;
  z-index: 1;
  border: 1px solid var(--black-100);
  border-radius: 0.2rem;
  box-shadow: 0 0 10px var(--black-100);
  height: fit-content;

  &::after {
    content: '';
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    height: var(--sticky-arrow-height);
    border-left: 1px solid var(--black-100);
    border-top: 1px solid var(--black-100);
    box-shadow: -5px -5px 10px var(--black-100);
    background-color: $sticky-bg-color;
    width: var(--sticky-arrow-height);
    display: block;
    position: absolute;
    z-index: -1;
  }
}
</style>
